* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

.sidebar {
  position: fixed;
  left: 0;
  z-index: 1000;
  width: 18vw;
  height: 100%;
  background-color: rgb(60, 59, 59);
  transition: all 0.5s;
}

.sidebar .area-1 {
  width: 100%;
  height: 130px;
  background-color: rgb(37, 37, 37);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar .area-1 h2 {
  font-size: 20px;
  text-transform: uppercase;
}

.sidebar .area-1 .photo {
  width: 60px;
  height: 60px;
  background: url(p1.jpg) center;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.area-2 ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 50px;
  font-size: 25px;
  color: rgb(191, 185, 185);
  border-top: 1px solid rgba(45, 42, 42, 0.1);
  border-bottom: 1px solid black;
  /* padding-left: 30px; */
  padding: 5px 0 5px 30px;
}

.area-2 ul a i {
  margin-right: 10px;
}

.area-2 ul a.active {
  color: white;
}

.area-2 ul a:hover {
  color: white;
  transform: scaleX(1.1);
  background-color: rgb(37, 37, 37);
  transition: all 0.4s;
}

section {
  position: absolute;
  width: 82vw;
  right: 0;
  height: 100vh;
  background-color: rgb(155, 157, 152);
  /* background-size: cover; */
  transition: all 0.5s;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background: #7b7b7b;
}

::-webkit-scrollbar-thumb {
  background: #242323;
}

::-webkit-scrollbar-thumb:hover {
  background: #312e2e;
}

#content {
  padding: 80px 30px 30px 100px;
}

#content h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

#content p {
  font-size: 25px;
  /* margin-bottom: 20px; */
}
